<h3> {{ name }}</h3>

<img src="{{ beerImage }}" alt="beer type {{ type }}">

<p>
    Type: {{ type }}
</p>

<p>
    Something: {{ something }}
</p>

<ul>
    {{#each beerType}}
       <li>{{ this }}</li>
    {{/each}}
</ul>